.input-field>label {
    position: static;
}

.table-container {
    display: block;
}

.table-wrapper {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 30px;
}

.input-field {
    margin-bottom: 20px;
}

select {
    display: block;
}

table.dataTable tbody td {
    white-space: nowrap;
    /* Prevent line breaks */
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper .dataTables_scrollBody {
    overflow: auto;
}